<!DOCTYPE html>
<!-- webpage containing canvas to draw numbers-->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Digit Recogniser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/webpage.css') }}">
  </head>
  <body data-rsssl=1>
    <div id="canvasDiv">
        <canvas id="canvasID"></canvas>
    </div>
    <div id="buttonDiv">
        <button id="saveBtn">Save</button> <button id="resetBtn">Clear</button>
    </div>
    <div id="predictionDiv">
        <p>Prediction:</p>
        <p id="predictDigit"></p>
    </div>
  </body>
  <!--Import for JQuery-->
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="{{ url_for('static', filename='js/webpage.js') }}"></script>
</html>