body{
    background-color: #000000;
}

#canvasDiv {
    margin: 50px auto;
    text-align: center;
    width: 600px;
    height: 600px;
    background-color: black;
}

#buttonDiv {
    margin: 10px;
    text-align: center;
    padding: 20px;
}

#predictionDiv {
    margin: 0px auto;
    text-align: center;
    padding: 20px;
    color: #00fff4;
}

#canvasID {
    border: 1px solid #f80000;
}

#saveBtn {
    background-color: #0043fb;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
}

#resetBtn {
    background-color: #ffdc00;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
}